/* RESETEO */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: normal;

}

li {
    list-style: none;

}

nav {
    opacity: 98%;
}


.logo {
    height: 100px;
    padding: 20%;
}

.banner {
    background-image: url(../img/bannerresponsive1900.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    padding: 0px 10px;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.banner h2 {
    font-size: 1.7rem;
    font-style: italic;
    text-align: center;
    font-weight: initial;
    padding: 10px;
}

.caja {
    background-image: url(../img/cuadrado.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: white;
    margin: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    text-align: justify;
}

.caja h3 {
    font-size: 2rem;
    letter-spacing: 2px
}

.caja h3,
p {
    padding: 7px;
}

.caja2 {
    background-image: url(../img/sede.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: white;
    margin: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.caja2 h3 {
    font-size: 2rem;
    letter-spacing: 2px;
}

.caja2 h3,
p {
    padding: 7px;
}

.mapa {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.cajatitle {
    font-style: italic;
}

.planest {
    font-size: 3rem;
    text-align: center;
    padding: 20px;
    color: rgb(14, 14, 14);
}

.planest p {
    padding: 10px;
    font-size: 1.3rem;
    text-align: start;
    padding-top: 30px;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}



.boton1 {
    background-color: rgb(24, 24, 24);
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s;
}

.boton1:hover {
    background-color: rgb(56, 56, 56);

}



.form {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
    opacity: 90%;
}


.nya,
.ce,
.form1 {
    padding: 10px;
}

.nya {
    font-size: 1.5rem;
}

.ce {
    font-size: 1.5rem;
}

.boton2 {
    background-color: rgb(24, 24, 24);
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: all 0.5s;
    font-size: 1.5rem;
}

.boton2:hover {
    background-color: rgb(56, 56, 56);

}


/* FOOTER */

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 90%;


}

.redessociales ul {
    display: flex;
    gap: 25px;
    padding: 20px;

}

.reds a {
    transition: all 0.5s;
}

.reds a:hover {
    color: rgb(129, 129, 129);
}

/* RESPONSIVE */

@media (max-width: 1010px) {
    .menunav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .menunav li {
        padding: 10px 0px;
    }

    nav {
        padding: 7px
    }

    .banner {
        background-image: url(../img/bannerresponsive1200.png);
    }
}

@media (max-width: 768px) {

    .banner {
        height: 200px;
        background-image: url(../img/bannerresponsive768.png);
    }

    .banner h1 {
        font-size: 1.8rem;
    }

    .banner h2 {
        font-size: 1.3rem;
    }
}

.caja {
    height: 500px;
}


@media (max-width: 600px) {

    .banner {
        height: 200px;
        background-image: url(../img/bannerresponsive600.png);
    }

    .banner h1 {
        font-size: 1.7rem;
    }

    .banner h2 {
        font-size: 1.3rem;
        letter-spacing: 1px;
    }

    .caja {
        height: 450px;
    }

    .caja2 {
        height: 400px;
    }

    .caja2 p {
        text-align: center;
    }

    .copyright p {
        font-size: 0.7rem;
    }

}

@media (max-width: 480px) {

    .banner {
        background-image: url(../img/bannerresponsive.png);


    }

    .banner h1 {
        font-size: 1.5rem;
    }

    .banner h2 {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    .caja {
        height: 650px;
    }

    .caja h3 {
        font-size: 1.6rem;
        text-align: center;
    }

    .caja p {
        text-align: start;
    }

    .caja h3,
    p {
        padding: 5px;
    }

    .caja2 h3 {
        font-size: 1.6rem;
        text-align: center;
    }

    .caja2 p {
        text-align: center;
    }

    .caja2 h3,
    p {
        padding: 5px;
    }

    .copyright p {
        font-size: 0.5rem;
    }
}